# Node
node_modules/
npm-debug.log*

# React Native
*.log
*.lock
.expo/
.expo-shared/

# Firebase / API keys
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# Android/iOS build artifacts
android/
ios/

# Ignore uploads
assets/*.jpeg
